


<HTML>
<HEAD>
    <script src="~/Content/jquery-2.1.4.min.js"></script>
    <link href="~/Content/ASPNETCommerce.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="ASPNETCommerce.css">
    <script src="~/Content/jquery-1.10.2.intellisense.js"></script>
    
</HEAD>
<body background="/images/sitebkgrdnogray.gif" leftmargin="0" topmargin="0" rightmargin="0"
      bottommargin="0" marginheight="0" marginwidth="0">
    <table cellspacing="0" cellpadding="0" width="100%" border="0">
        <tr>
            <td colspan="2">


                <table cellspacing="0" cellpadding="0" width="100%" border="0">
                    <tr>
                        <td colspan="2" background="/images/grid_background.gif" nowrap>
                            <table cellspacing="0" cellpadding="0" width="100%" border="0">
                                <tr>
                                    <td colspan="2">
                                        <img src="/images/most_secretive_place.gif">
                                    </td>
                                    <td align="right" nowrap>
                                        <table cellpadding="0" cellspacing="0" border="0">
                                            <tr valign="top">
                                                <td align="center" width="65">
                                                    <a href="Login.aspx" class="SiteLinkBold">
                                                        <img src="/images/sign_in.gif" border="0">
                                                        登录
                                                    </a>
                                                </td>
                                                <td align="center" width="75">
                                                    <a href="OrderList.aspx" class="SiteLinkBold">
                                                        <img src="/images/account.gif" border="0">
                                                        账户
                                                    </a>
                                                </td>
                                                <td align="center" width="55">
                                                    <a href="ShoppingCart.aspx" class="SiteLinkBold">
                                                        <img src="/images/cart.gif" border="0">
                                                        购物车
                                                    </a>
                                                </td>
                                                <td align="center" width="65">
                                                    <a href="InstantOrder.asmx" class="SiteLinkBold">
                                                        <img src="/images/services.gif" border="0">
                                                        服务
                                                    </a>
                                                </td>
                                            <tr>
                                        </table>
                                    </td>
                                    <td width="10">
                                        &nbsp;
                                    </td>
                                </tr>
                            </table>]

                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" nowrap>
                            <form method="post" action="SearchResults.aspx" id="frmSearch" name="frmSearch">
                                <table cellspacing="0" cellpadding="0" width="100%" border="0">
                                    <tr bgcolor="#9D0000">
                                        <td background="/images/modernliving_bkgrd.gif">
                                            <img align="left" src="/images/modernliving.gif" style="margin-left:2.5px;">
                                        </td>
                                        <td width="94" align="right" bgcolor="#9D0000">
                                            <img src="/images/search.gif">
                                        </td>
                                        <td width="120" align="right" bgcolor="#9D0000">
                                            <input type="text" name="txtSearch" ID="txtSearch" SIZE="20">
                                        </td>
                                        <td align="left" bgcolor="#9D0000">
                                            &nbsp;<input type="image" src="/images/arrowbutton.gif" border="0" id="image1" name="image1">&nbsp;
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
        <tr>
            <td valign="top" width="145">


                <table cellspacing="0" cellpadding="0" width="145" border="0">
                    <tr valign="top">
                        <td colspan="2">
                            <a href="default.aspx"><img src="/images/logo.gif" border="0"></a>
                        </td>
                    </tr>
                    <tr valign="top">
                        <td colspan="2" >
                            
                              @{ 
                                  Html.RenderAction("List","Left");
                              }

                        </td>
                    </tr>
                    <tr>
                        <td width="10">
                            &nbsp;
                        </td>
                        <td>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <a href="docs/docs.htm" target="_blank" class="SiteLink">
                                Commerce Starter Kit<br>
                                文档
                            </a>
                        </td>
                    </tr>
                </table>

                <img height="1" src="/images/1x1.gif" width="145">
            </td>
            <td width="*" align="left" nowrap="" valign="top">
                <div id="aa">
                    @RenderBody() 
                </div>

            </td>
        </tr>

    </table>
</body>
</HTML>
@RenderSection("scripts", required: false)


